.games {
  background-color: #FFFFFF;
}

.games__container {
  display: flex;
  padding: 9rem 2rem 14.8rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}

.games__cards {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12rem;
}

@media (max-width: 1120px) {
  .games__container {
    padding: 7rem 2rem 6rem;
    gap: 10rem;
  }
  .games__cards {
    gap: 10rem;
  }
}

@media (max-width: 960px) {
  .games__container {
    padding: 5rem 2rem 4rem;
    gap: 6rem;
  }
  .games__cards {
    gap: 6rem;
  }
}

@media (max-width: 768px) {
  .games__container {
    padding: 4rem 2rem 3rem;
    gap: 4rem;
  }
  .games__cards {
    gap: 3rem;
  }
}

@media (max-width: 460px) {
  .games__container {
    gap: 3rem;
  }
  .games__heading {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .games__cards {
    gap: 2rem;
  }
}

@media (max-width: 360px) {
  .games__container {
    gap: 2rem;
  }
  .games__heading {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}
