.try {
  background-color: #FFECE3;
}

.try__container {
  display: flex;
  padding: 7rem 2rem;

  justify-content: space-between;
  gap: 2rem;
}

.try__content {
  display: flex;

  max-width: 39rem;
  width: 100%;

  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}

.try__content p {
  color: #151618;

  font-size: 2rem;
  line-height: 2.3rem;
}

.try__image {
  max-width: 55rem;
  width: 100%;
}

.try__image img {
  height: 100%;
  width: 100%;
}

@media (max-width: 1120px) {
  .try__container {
    padding: 5rem 2rem;
  }
  .try__content {
    gap: 2rem;
  }
}

@media (max-width: 960px) {
  .try__container {
    padding: 3rem 2rem;
  }
  .try__content h2 {
    font-size: 2.6rem;
    line-height: 3rem;
  }
  .try__content p {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

@media (max-width: 768px) {
  .try__container {
    padding: 3rem 2rem;

    flex-direction: column-reverse;
    align-items: center;
  }
  .try__content {
    max-width: 40rem;

    align-items: center;
    gap: 2rem;
  }
  .try__content p {
    text-align: center;
  }
  .try__image {
    max-width: 40rem;
  }
}

@media (max-width: 460px) {
  .try__container {
    padding: 2rem 2rem;
  }
  .try__content {
    gap: 1.2rem;
  }
  .try__content h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
  .try__content p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
