.sticker {
  display: flex;
  padding: 2rem;

  max-width: 28rem;
  width: 100%;

  flex-direction: column;
  gap: 2rem;

  background-color: #FFFFFF;
  box-shadow: 1px 4px 4px rgba(21, 22, 24, 0.25);
  border-radius: 1rem;
}

.sticker__content {
  display: flex;

  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 636px) {
  .sticker {
    max-width: 37rem;
  }
  .sticker__icon,
  .sticker__heading {
    text-align: center;
  }
}
