.log-in {
    color: #FF6822;
    padding-left: .5rem;
    text-decoration: underline;
    cursor: pointer;
}

.bottom-text {
    color: rgba(105, 111, 121);
    text-align: center;
    padding-top: 2.5em;
}