.word-card-container {
    display: flex;
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #151618;
}

.card-img {
    width: 32.5%;
    height: auto;
    border-radius: 6px;
    background-size: cover;
    background-position: center center;
}

.card-info {
    width: 67.5%;
    height: auto;
    padding: 20px;
}

.word-info {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.word {
    font-weight: 500;
    text-transform: capitalize;
}

.word-sound {
    width: 25px;
    height: 25px;
}

.sound-img {
    cursor: pointer;
}

.word-common {
    display: flex;
    column-gap: 1rem;
}

.word-translate {
    padding-top: 5px;
    color: #FF6822;
}

.word-phrases {
    margin: 1.2rem 0;
}

.phrase1 {
    margin-bottom: 10px;
}

.word-buttons{
    display: flex;
    max-width: 320px;
    width: 100%;
    margin: 2rem 0 0 auto;
    column-gap: 20px;
}

.btnWordCard {
    max-width: 180px;
    width: 100%;
    text-align: center;
    padding: 10px 8px;
    border-radius: 5px;
    color: #FF6822;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 1px 1px 4px 0px rgba(21, 22, 24, 0.25);
    background: transparent;
    cursor: pointer;
}