.audiocall {
  background: linear-gradient(180deg, #6CA0FA 0%, rgba(108, 160, 250, 0.4) 100%);
}

.audiocall__container {
  display: flex;
  position: relative;
  height: 100vh;
  padding: 0 2rem;

  align-items: center;
  justify-content: center;
}

.reload {
  position: absolute;

  top: 7rem;
  left: 16rem;

  background-color: transparent;
}

.cross {
  position: absolute;

  top: 7.7rem;
  right: 16rem;
}

.audiocall__start-screen {
  display: flex;

  max-width: 54rem;
  width: 100%;

  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.audiocall__info {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.audiocall__text {
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  color: #151618;
}

.audiocall__difficulty {
  display: flex;

  flex-direction: column;
  gap: 3rem;
}

.question__buttons {
  display: flex;

  max-width: 38rem;
  width: 100%;

  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.8rem;
}

@media (max-width: 1000px) {
  .reload {
    top: 5rem;
    left: 10rem;
  }
  .cross {
    top: 5.7rem;
    right: 10rem;
  }
}

@media (max-width: 700px) {
  .reload {
    top: 5rem;
    left: 5rem;
  }
  .cross {
    top: 5.7rem;
    right: 5rem;
  }
}

@media (max-width: 420px) {
  .reload {
    top: 2rem;
    left: 5rem;
  }
  .cross {
    top: 2.6rem;
    right: 5rem;
  }
  .question__buttons {
    max-width: 17.6rem;
  }
}
