.sprint__question {
  width: 400px;
  height: 588px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sprint__card {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}
.sprint__score {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 32px;
}
.sprint__timer {
  font-size: 32px;
}

.sprint__btn-wrong {
  background-color: #ffafaf;
  color: #ffafaf;
}

.sprint__bonus-point {
  align-self: center;
}

.sprint__dots {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 20px;
}

.points {
  font-size: 1.6rem;
  color: #ff6822;
}

.question__words {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question__eng {
  margin-top: 65px;
  font: 500;
  font-size: 32px;
  line-height: 37.5px;
}

.question__ru {
  margin-top: 5px;
  font-size: 20px;
  line-height: 23.44px;
}

.sprint__checkbox {
  width: 30px;
  height: 30px;
  align-self: center;
  background: url('../../../../assets/png/Vector\ \(Stroke\).png') no-repeat
    center;
  border-radius: 50%;
  margin-top: 50px;
}

.sprint__btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.btn {
  width: 146px;
  height: 56px;
  border-radius: 10px;
  font-size: 24px;
}

.wrong {
  background-color: #FFAFAF;
}

.right {
  background-color: #B1FFAF;
}
