.btnLevels-block {
    max-width: 230px;
    width: 100%;
}

.btnLevel {
    max-width: 230px;
    width: 100%;
    text-align: left;
    margin: 10px 0;
    padding: 15.5px 14px ;
    border-radius: 10px;
    color: rgba(21, 22, 24, 1);
    font-size: 1.6rem;
    box-shadow: 1px 2px 4px 0px rgba(21, 22, 24, 0.25);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btnLevel-active {
    color: #3e3a44;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(75, 46, 75, 0.25);
}